ContosoUniversity/UpgradeLog.htm
ContosoUniversity/.vs/
ContosoUniversity/ContosoUniversity/obj/Debug/ContosoUniversity.csproj.GenerateResource.cache
ContosoUniversity/ContosoUniversity/obj/Debug/
ContosoUniversity/packages/
ContosoUniversity/ContosoUniversity.Web/obj/
ContosoUniversity/ContosoUniversity.Web/bin/
ContosoUniversity/ContosoUniversity.Core/bin/
