ContosoUniversity/ContosoUniversity.sln
ContosoUniversity/UpgradeLog.htm
ContosoUniversity/.vs/
ContosoUniversity/ContosoUniversity/obj/Debug/ContosoUniversity.csproj.GenerateResource.cache
ContosoUniversity/ContosoUniversity/obj/Debug/
